name: Run JupyterLab UI Profiler

on:
  workflow_call:
    inputs:
      # Mandatory inputs
      challenger:
        description: "JupyterLab Git repository with the challenger version (format {owner}/{repo})"
        required: true
        type: string
      challenger_branch:
        description: "Git repository reference to the challenger branch"
        required: true
        type: string

      # Optional inputs
      challenger_project:
        description: "Playwright project to execute on the challenger version"
        required: false
        default: "jupyterlab"
        type: "string"
      reference_branch:
        description: "Reference branch on the JupyterLab repository (default: master)"
        required: false
        default: "master"
        type: string
      reference_project:
        description: "Playwright project to execute on the reference version"
        required: false
        default: "jupyterlab"
        type: "string"
      browser:
        description: "Which browser to use (one of 'chromium' [default], 'firefox', 'webkit')"
        required: false
        default: "chromium"
        type: "string"
      samples:
        description: "Number of samples to compute (individual tests multiply this number by their a test-speicific factor)"
        required: false
        default: "100"
        type: "string"
      artifacts_name:
        description: "Uploaded benchmark assets name"
        required: false
        default: "profiler-assets"
        type: "string"
      grep:
        description: "Tests to include"
        required: false
        default: "ui-profiler"
        type: "string"
      grep_invert:
        description: "Tests to skip"
        required: false
        default: ""
        type: "string"

env:
  YARN_ENABLE_IMMUTABLE_INSTALLS: 0

permissions:
  issues: write

jobs:
  run-profiler:
    runs-on: ubuntu-22.04

    env:
      # Which browser to use (one of 'chromium', 'firefox', 'webkit')
      BROWSER_NAME: ${{ inputs.browser }}
      # How many samples to compute the statistical distribution
      BENCHMARK_NUMBER_SAMPLES: ${{ inputs.samples }}

      # Repository to clone for scheduled benchmark
      CHALLENGER_REPOSITORY: ${{ inputs.challenger }}
      # Branch to checkout for scheduled benchmark
      CHALLENGER_REF: ${{ inputs.challenger_branch }}

    steps:
      - name: Checkout benchmarks project
        uses: actions/checkout@v3
        with:
          path: benchmarks

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: iterative/setup-cml@v1

      - name: Cache pip on Linux
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-3.10-${{ hashFiles('**/requirements.txt', 'setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-3.10

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache yarn
        uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      # First run the benchmark on the reference
      - name: Checkout reference branch
        if: ${{ inputs.event == 'workflow_dispatch' }}
        uses: actions/checkout@v3
        with:
          repository: jupyterlab/jupyterlab
          ref: ${{ inputs.reference_branch }}
          path: reference

      - name: Install reference
        run: |
          set -ex
          echo "OLD_REF_SHA=$(git log -n1 --format='%H')" >> $GITHUB_ENV
          bash ./scripts/ci_install.sh
          # Build dev mode
          jlpm run build
        working-directory: reference

      - name: Install extensions
        # This is done after installing the reference in order to have jlpm available.
        run: |
          set -ex
          pip install ipywidgets plotly
          pip install jupyterlab-ui-profiler
          jupyter labextension disable @jupyterlab/ui-profiler:user-interface

          jupyter server extension list
          jupyter labextension list
        working-directory: benchmarks

      - name: Launch JupyterLab (reference)
        shell: bash
        run: |
          # Mount a volume to overwrite the server configuration
          yarn start-jlab 2>&1 > /tmp/jupyterlab_server_old.log &
        working-directory: benchmarks/tests

      - name: Install testing dependencies
        shell: bash
        run: |
          yarn install
        working-directory: benchmarks/tests

      - name: Install browser
        run: |
          set -ex
          # Install only Chromium browser
          yarn playwright install chromium
        working-directory: benchmarks/tests

      - name: Wait for JupyterLab
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:9999/lab
          timeout: 360000

      - name: Execute benchmark tests (reference)
        continue-on-error: true
        working-directory: benchmarks/tests
        run: |
          set -ex
          # Update test screenshots
          BENCHMARK_NUMBER_SAMPLES=1 PW_VIDEO=1 yarn run test --project ${{ inputs.reference_project }} -u --grep-invert ${{ inputs.grep_invert }} --grep ${{ inputs.grep }}

          # -u is needed to generate the benchmark expected file
          yarn run test --project ${{ inputs.reference_project }} -u --grep-invert ${{ inputs.grep_invert }} --grep ${{ inputs.grep }}
          cp tests-out/lab-benchmark-expected.json /tmp/

      - name: Kill the server
        shell: bash
        run: |
          kill -s SIGKILL $(pgrep jupyter-lab)
          pip uninstall --yes jupyterlab

          # Remove generated test files to keep only one copy from challenger test
          rm -rf /tmp/benchmarks-*

      # Second benchmark run on the challenger
      - name: Checkout challenger
        uses: actions/checkout@v2
        with:
          repository: ${{ env.CHALLENGER_REPOSITORY }}
          ref: ${{ env.CHALLENGER_REF }}
          path: challenger

      - name: Install challenger
        run: |
          set -ex
          # Fix for installing JupyterLab 1
          rm -rf /home/runner/.jupyter || true
          echo "NEW_REF_SHA=$(git log -n1 --format='%H')" >> $GITHUB_ENV
          bash ./scripts/ci_install.sh
          # Build dev mode
          jlpm run build
          # Copy reference here so if it fails, the workflow will be in error
          cp /tmp/lab-benchmark-expected.json ./tests-out
        working-directory: challenger

      - name: Launch JupyterLab (challenger)
        shell: bash
        run: |
          yarn start-jlab 2>&1 > /tmp/jupyterlab_server_new.log &
        working-directory: benchmarks/tests

      - name: Wait for JupyterLab
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:9999/lab
          timeout: 360000

      - name: Execute benchmark tests (challenger)
        continue-on-error: true
        shell: bash
        env:
          BENCHMARK_REFERENCE: ${{ inputs.challenger_branch }}
          BENCHMARK_EXPECTED_REFERENCE: ${{ inputs.reference_branch }}
        run: |
          set -ex
          # Update test screenshots
          BENCHMARK_NUMBER_SAMPLES=1 PW_VIDEO=1 yarn run test --project ${{ inputs.challenger_project }} -u --grep-invert ${{ inputs.grep_invert }} --grep ${{ inputs.grep }}

          # Copy reference here otherwise it will use the value from the update screenshots
          # command called just before
          cp /tmp/lab-benchmark-expected.json ./tests-out

          yarn run test --project ${{ inputs.challenger_project }} --grep-invert ${{ inputs.grep_invert }} --grep ${{ inputs.grep }}
        working-directory: benchmarks/tests

      - name: Generate the report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPORT: ./benchmark-results/lab-benchmark.md
        shell: bash
        working-directory: benchmarks/tests
        run: |
          # Publish image to cml.dev
          echo "" >> ${REPORT}
          # cml-publish ./benchmark-results/lab-benchmark.svg --md >> ${REPORT} || true

          echo "${{ inputs.event == 'schedule' && 'Expected' || inputs.reference_branch }} = [${{ env.OLD_REF_SHA }}](https://github.com/jupyterlab/jupyterlab/commit/${{ env.OLD_REF_SHA }}) | ${{ inputs.event == 'schedule' && 'Actual' || env.CHALLENGER_REF }} = [${{ env.NEW_REF_SHA }}](https://github.com/${{ env.CHALLENGER_REPOSITORY }}/commit/${{ env.NEW_REF_SHA }})" >> ${REPORT}
          echo "[Go to action log](https://github.com/jupyterlab/benchmarks/actions/runs/${{ github.run_id }})" >> ${REPORT}
          if [[ "${{ env.CHALLENGER_REPOSITORY }}" == "jupyterlab/jupyterlab" ]]; then
            echo "[Changelog covered](https://github.com/jupyterlab/jupyterlab/compare/${{ env.OLD_REF_SHA }}...${{ env.NEW_REF_SHA }})" >> ${REPORT}
          fi
          echo "" >> ${REPORT}

          # Test if metadata have changed
          export METADATA_DIFF="/tmp/metadata.diff"
          diff -u <(jq --sort-keys .metadata benchmark-results/lab-benchmark.json) <(jq --sort-keys .metadata ./tests-out/lab-benchmark-expected.json) > ${METADATA_DIFF} || true
          if [[ -s ${METADATA_DIFF} ]]; then
            echo "<details><summary>:exclamation: Test metadata have changed</summary>" >> ${REPORT}
            echo "" >> ${REPORT}
            echo "\`\`\`diff" >> ${REPORT}
            cat ${METADATA_DIFF} >> ${REPORT}
            echo "\`\`\`" >> ${REPORT}
            echo "" >> ${REPORT}
            echo "</details>" >> ${REPORT}
          fi

          # Copy the reference data to upload it as artifact
          cp ./tests-out/lab-benchmark-expected.json ./benchmark-results/

      - name: Set job summary
        if: always()
        shell: bash
        run: |
          cat ./benchmarks/tests/benchmark-results/lab-benchmark.md >> $GITHUB_STEP_SUMMARY

      - name: Upload Benchmark Test assets
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.artifacts_name }}
          path: |
            benchmarks/tests/benchmark-results
            benchmarks/tests/test-results/**/*.webm
            benchmarks/tests/test-results/*-1-*
            benchmarks/tests/tests-out/**/*.png
            /tmp/benchmarks-*
            !/tmp/benchmarks-*/**/.ipynb_checkpoints

      - name: Print JupyterLab logs
        if: always()
        run: |
          cat /tmp/jupyterlab_server_old.log
          cat /tmp/jupyterlab_server_new.log
